body {
    font-family: Arial, sans-serif;
    background-color: #8119c7;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.container {
    text-align: justify;
    margin-bottom: 20px;
}

h1 {
    align-items: center;
    color: #F7886D;
}

form {
    background-color: #51459F;
    color: #F7886D;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#buttonSalvar {
    background-color: rgb(47, 175, 47);
    color: white;
    padding: 10px;
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
#buttonResetar {
    background-color: #d32020;
    color: white;
    padding: 10px;
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
